<html>
<title>welcome template for books</title>
<body>
<p>Entered book id is <%= @bookid %> </p>
<table border=1>
<tr><th>book id</th><th>book name</th><th>details</th><th>price</th></tr>
<% @bookz.each do |bk|
@id=bk.id
@name=bk.name
@descp=bk.description
@price=bk.price %>
<tr>
<td> <%=@id %> </td>
<td> <%=@name %></td>
<td><%=@descp %></td>
<td><%= @price %></td>
</tr>
<%end%>
</table>
</form>
</body>
</html>
