<html>
<title> welcome template template for books </title>
<body>
<p>total number of books=<%=@num_books %></p>
<form action = "result">
Enter searching Element:<input type="text" name="sid"/>
<input type=submit value="search"/>
</form>
</body>
</html>
